@font-face {
  font-family: header;
  src: url(/assets/fonts/Bolkit-7BqoR.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
main {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  height: 100vh;
}
section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
#landing {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
h1 {
  font-family: header;
  font-size: 275px;
}
.block {
  width: 100%;
  height: 25vh;
  background-color: black;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding: 1rem;
}
.left {
  width: 60%;
  height: 100%;
  background-color: white;
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-inner {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: header;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  transition: all 350ms ease-in-out;
}
.left-inner:hover {
  color: white;
  cursor: pointer;
}

.line {
  flex-grow: 1;
  width: 100%;
  height: 0.25rem;
  background-color: black;
  z-index: 10;
  transition: all 350ms ease-in-out;
  margin-left: 1rem;
}

.slide-block {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  transform: translateX(-100%);
  transition: all 350ms ease-in-out;
  z-index: 1;
}

.right {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  overflow: hidden;
}
.right-inner {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.rhead {
  font-size: 50px;
}
.underline {
  width: 80%;
  height: 0.75rem;
  background-color: white;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}
.rbody {
  font-weight: 50;
}

h3{
  font-family: header;
  font-size: 100px;
  color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-top: 1rem;
}
ul{
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100vh;
  transform: translate(-50%, -50%);

}
li{
  height: 30rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  border: .5rem solid black;
}
.up, .down{
  width: 100%;


}
.up{
  height: fit-content;
  border-bottom: 2px solid black;
}
.down{
  flex-grow: 1;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workbody{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.githubbtn{
  width: 100%;
  padding: 0;
  height: 4rem;
  border: none;
  background-color: black;
  color: white;
  font-family: header;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  transition: all 350ms ease-in-out;
}
.githubbtn:hover{
  color: black;
  background-color: white;
  border: 5px solid black;
  cursor: pointer;
}
.workimg{
  filter: grayscale(100%);
  transition: all 350ms ease-in-out;
}
.workimg:hover{
  filter: grayscale(0%);
}

.push{
  margin-top: 3rem;
}
.contact{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input, textarea{
  width: 50rem;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid black;
  transition: scale 250ms ease;
}
input:focus, textarea:focus{
  border: 3px solid black;
  scale: 1.02;
  outline: none;
}
button[type=submit]{
  width: 50rem;
  border: 3px solid black;
  padding: 1rem;
  background-color: transparent;
  transition: all 350ms ease;
}
button[type=submit]:hover{
  background-color: black;
  color: white;
  scale: 1.02;
}
#contact-head{
  position: absolute;
}